body{
  font-family: "Source code pro", serif;
  margin: 0px;
  padding: 0px;
  background-color: #FFF6E8;
}

img{
  text-align: center;
  min-width: 50%
  max-width: 80%;
  height:auto;
}

@media and screen (max-width: 480px) {
  img {
    width: 250px;
  }
}

@media and screen (min-width: 480px) {
  img {
    min-width: 35%;
  }
}

nav{
  width: 100%;
  background-color: #A26400;
}

nav ul{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

nav li{
  list-style-type: none;
  float: left;
}

nav a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #FFF;
}

.menu-project:hover{
  border-top: 3px solid #E9C386;
  background-color: rgba(30, 166, 229, 0.20);
}

.menu-contact:hover{
  border-top: 3px solid #E9C386;
  background-color: rgba(30, 166, 229, 0.20);
}

.menu-index:hover{
  border-top: 3px solid #E9C386;
  background-color: rgba(30, 166, 229, 0.20);
}

nav li:hover a{
  padding: 15px 30px 20px 30px;
}

.table{
  display: table;
  margin: 0 auto;
}

h1{
  font-family: 'Avenir Black', sans-serif;
  text-align:center;
}

h2{
  font-family: 'Avenir Black', sans-serif;
  font-weight:100;
  font-size: 30;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 2%;
}

.hauteur{
  margin: 5 auto;
  width: 75%;
  height: auto;
}

div#cont div{
  width: 75%;
  margin: 0 auto;
}

div#cont div.box{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}


p{
  width: 75%;
  margin: -5px auto;
  margin-top: 50px;
  margin-bottom: 5%;
  text-align: center;
}

p2{
  width: 75%;
  margin: -15px auto;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 15px,
  text-align: left;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

*{
  box-sizing: border-box;
}
